@media screen and (max-width: 900px) and (max-height: 500px) {
  .about-card-2 {
    display: none;
  }

  .about-container {
    padding-top: 0;
  }

  .about-card-1 {
    margin: auto;
  }

  .hulst-image {
    display: none;
  }

  .games-header {
    padding-top: 10px;
  }

  .game-image {
    max-width: 90px;
  }
}
