nav {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 101;
  color: $off-white;
  font-family: $font-heading;
}

#nav-open {
  font-size: 30px;
  cursor: pointer;
}

.nav-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: $off-black;
  overflow-x: hidden;
  transition: 0.5s;
}

.nav-overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  margin-left: 2rem;
  margin-top: 30px;
}

.nav-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: $off-white;
  display: block;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .nav-overlay a {
    font-size: 16px;
  }
}

.nav-overlay a:hover,
.nav-overlay a:focus {
  color: $ps-modern-blue;
}

.nav-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .nav-overlay a {
    font-size: 20px;
  }
  .nav-overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.nav-show {
  min-width: 250px;
  width: 15%;
}

@media screen and (max-width: 700px) {
  .nav-show {
    width: 50%;
  }
}
